@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap");

#logo1 {
  width: auto;
  height: 50px;
  padding-right: 30px;
}

#NavBar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0px;
  background-color: #6a8b41;
  margin: 0;
  font-family: "Playwrite DK Loopet", cursive;
  align-items: center;
}

h1 {
  padding-left: 30px;
  color: white;
}
