@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

#SideBar {
  display: flex;
  height: 100%;
  width: 500px;
  background-color: #f4faec;
  justify-content: center;
  font-family: "Urbanist", sans-serif;
  font-size: 24px;
}

ul {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 30px;
  padding: 0;
}
